* {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
html.sr .load-hidden {
  visibility: hidden;
}
body {
  background-image: url("../assets/wallpaper.jpg");
  background-color: rgba(0, 0, 0, 0.76);
  height: 100%;
  opacity: 0.9;
}
h1 {
  color: white;
  text-align: center;
}
#hello {
  margin-top: 8%;
  height: 10%;
}
.youcan {
  font-size: 55px;
}
#topnav {
  height: 8%;
}
#topnav a {
  font-size: 20px;
  text-decoration: none;
}
#contactinfo {
  height: 80%;
  width: 80%;
  margin-top: 20px;
}
tr {
  text-align: center;
  font-size: 30px;
}
#contact-table {
  height: 30%;
}
