* {
  padding: 0;
  margin: 0;
  height: 100%;
}
html.sr .load-hidden {
  visibility: hidden;
}
#programming,
#guitar,
#anime {
  background-size: 100% 100%;
  text-align: center;
  padding-top: 6%;
}
#hello-2,
#hello-4 {
  padding-top: 25%;
  margin-bottom: 0;
  font-size: 100px;
}
body {
  background-image: url("../assets/wallpaper.jpg");
  background-color: rgba(0, 0, 0, 0.76);
  height: 100%;
  opacity: 0.9;
}
h1 {
  color: white;
  text-align: center;
}
#topnav {
  height: 8%;
  width: 100%;
  position: fixed;
  z-index: 1;
}
#topnav a {
  font-size: 20px;
  text-decoration: none;
}
#programming {
  background-image: url("../assets/slide1.jpg");
}
#guitar {
  background-image: url("../assets/slide2.png");
  margin-bottom: 0;
}
#anime {
  background-image: url("../assets/slide3.jpg");
  margin-bottom: 0;
}
#hello {
  font-size: 100px;
  display: inline;
}
#hello-2 {
  height: 10%;
}
#scroll {
  padding-top: 7%;
  color: white;
}
#hello-3 {
  font-size: 100px;
  display: inline;
}
#hello-4 {
  height: 7%;
}
#hello-5 {
  font-size: 100px;
  display: inline;
}
#hello-6 {
  padding-top: 25%;
  margin-bottom: 0;
  font-size: 80px;
  height: 10%;
}
